{% extends 'base.html' %} {% load static %}
 {% block content %}
   <!-- Page Header Start -->
	<div class="page-header parallaxie">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!-- Page Header Box Start -->
					<div class="page-header-box">
						<h1 class="text-anime-style-3" data-cursor="-opaque">Services</h1>
						<nav class="wow fadeInUp">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{% url 'index' %}">home</a></li>
								<li class="breadcrumb-item active" aria-current="page">/ services</li>
							</ol>
						</nav>
					</div>
					<!-- Page Header Box End -->
				</div>
			</div>
		</div>
	</div>
	<!-- Page Header End -->

    <!-- Page Service Start -->
    <div class="page-service">
        <div class="container">
            <div class="row section-row">
                <div class="col-lg-12">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">our services</h3>
                        <h2 class="text-anime-style-3" data-cursor="-opaque">Our construction services</h2>
                        <p class="wow fadeInUp" data-wow-delay="0.25s"> We provide complete construction services — from new builds to renovations — with a focus on quality, safety, and timely delivery.</p>
                    </div>
                    <!-- Section Title End -->
                </div>
            </div> 

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <!-- Service Item Start -->
                    <div class="service-item wow fadeInUp" data-wow-delay="0.25s">
                        <!-- Service Image Start -->
                        <div class="service-image" data-cursor-text="View">
                            <a href="#">
                                <figure>                                
                                    <img src="{% static 'images/service-img-1.jpg' %}" alt="">
                                </figure>
                            </a>                            
                        </div>
                        <!-- Service Image End -->

                        <!-- Service Body Start -->
                        <div class="service-body">
                            <!-- Service Body Title Start -->
                            <div class="service-body-title">
                                <h3>RESIDENTIAL CONSTRUCTION</h3>
                            </div>
                            <!-- Service Body Title End -->

                            <!-- Service Content Start -->
                            <div class="service-content">
                                <p>
                                    Experience the finest residential construction services in Coimbatore with our expert team. 
                                    Create your dream home with personalized designs that turn your vision into reality.
                                </p>
                                <div class="service-content-footer">
                                    <a href="#" class="readmore-btn">view more</a>
                                </div>
                            </div>   
                            <!-- Service Content End -->                         
                        </div>
                        <!-- Service Body End -->
                    </div>
                    <!-- Service Item End -->
                </div>

                <div class="col-lg-4 col-md-6">
                    <!-- Service Item Start -->
                    <div class="service-item wow fadeInUp" data-wow-delay="0.5s">
                        <!-- Service Image Start -->
                        <div class="service-image" data-cursor-text="View">
                            <a href="#">
                                <figure>                                
                                    <img src="{% static 'images/service-img-2.jpg' %}" alt="">
                                </figure>
                            </a>                            
                        </div>
                        <!-- Service Image End -->

                        <!-- Service Body Start -->
                        <div class="service-body">
                            <!-- Service Body Title Start -->
                            <div class="service-body-title">
                                <h3>ARCHITECTURAL DESIGN</h3>
                            </div>
                            <!-- Service Body Title End -->

                            <!-- Service Content Start -->
                            <div class="service-content">
                                <p>Discover the expertise of our skilled architects in Coimbatore to elevate your project. 
                                    From ideation to fruition, we craft remarkable spaces that harmonize creativity and utility effortlessly. 
                                    Your vision meets our skill - the ultimate synergy</p>
                                <div class="service-content-footer">
                                    <a href="#" class="readmore-btn">view more</a>
                                </div>
                            </div>   
                            <!-- Service Content End -->                         
                        </div>
                        <!-- Service Body End -->
                    </div>
                    <!-- Service Item End -->
                </div>

                <div class="col-lg-4 col-md-6">
                    <!-- Service Item Start -->
                    <div class="service-item wow fadeInUp" data-wow-delay="0.75s">
                        <!-- Service Image Start -->
                        <div class="service-image" data-cursor-text="View">
                            <a href="#">
                                <figure>                                
                                    <img src="{% static 'images/service-img-3.jpg' %}" alt="">
                                </figure>
                            </a>                            
                        </div>
                        <!-- Service Image End -->

                        <!-- Service Body Start -->
                        <div class="service-body">
                            <!-- Service Body Title Start -->
                            <div class="service-body-title">
                                <h3>COMMERCIAL CONSTRUCTION</h3>
                            </div>
                            <!-- Service Body Title End -->

                            <!-- Service Content Start -->
                            <div class="service-content">
                                <p>
                                    Enhance your business with impactful and functional commercial spaces, meticulously fashioned by our adept construction specialists. 
                                    We provide inventive and practical designs for commercial spaces that create a memorable impact.
                                </p>
                                <div class="service-content-footer">
                                    <a href="#" class="readmore-btn">view more</a>
                                </div>
                            </div>   
                            <!-- Service Content End -->                         
                        </div>
                        <!-- Service Body End -->
                    </div>
                    <!-- Service Item End -->
                </div>

                <div class="col-lg-4 col-md-6">
                    <!-- Service Item Start -->
                    <div class="service-item wow fadeInUp" data-wow-delay="1s">
                        <!-- Service Image Start -->
                        <div class="service-image" data-cursor-text="View">
                            <a href="#">
                                <figure>                                
                                    <img src="{% static 'images/service-img-4.jpg' %}" alt="">
                                </figure>
                            </a>                            
                        </div>
                        <!-- Service Image End -->

                        <!-- Service Body Start -->
                        <div class="service-body">
                            <!-- Service Body Title Start -->
                            <div class="service-body-title">
                                <h3>INTERIOR DESIGN</h3>
                            </div>
                            <!-- Service Body Title End -->

                            <!-- Service Content Start -->
                            <div class="service-content">
                                <p>
                                    Revitalize your spaces with our skilled interior designers in Coimbatore. 
                                    From concept to execution, we create captivating interiors that blend functionality and aesthetics seamlessly.
                                </p>
                                <div class="service-content-footer">
                                    <a href="#" class="readmore-btn">view more</a>
                                </div>
                            </div>   
                            <!-- Service Content End -->                         
                        </div>
                        <!-- Service Body End -->
                    </div>
                    <!-- Service Item End -->
                </div>

                <div class="col-lg-4 col-md-6">
                    <!-- Service Item Start -->
                    <div class="service-item wow fadeInUp" data-wow-delay="1.25s">
                        <!-- Service Image Start -->
                        <div class="service-image" data-cursor-text="View">
                            <a href="#">
                                <figure>                                
                                    <img src="{% static 'images/service-img-5.jpg' %}" alt="">
                                </figure>
                            </a>                            
                        </div>
                        <!-- Service Image End -->

                        <!-- Service Body Start -->
                        <div class="service-body">
                            <!-- Service Body Title Start -->
                            <div class="service-body-title">
                                <h3>RENOVATION SERVICES</h3>
                            </div>
                            <!-- Service Body Title End -->

                            <!-- Service Content Start -->
                            <div class="service-content">
                                <p>Transform your space with expert renovation services that bring new life to your home or business.</p>
                                <div class="service-content-footer">
                                    <a href="#" class="readmore-btn">view more</a>
                                </div>
                            </div>   
                            <!-- Service Content End -->                         
                        </div>
                        <!-- Service Body End -->
                    </div>
                    <!-- Service Item End -->
                </div>

                <div class="col-lg-4 col-md-6">
                    <!-- Service Item Start -->
                    <div class="service-item wow fadeInUp" data-wow-delay="1.5s">
                        <!-- Service Image Start -->
                        <div class="service-image" data-cursor-text="View">
                            <a href="#">
                                <figure>                                
                                    <img src="{% static 'images/service-img-7.jpg' %}" alt="">
                                </figure>
                            </a>                            
                        </div>
                        <!-- Service Image End -->

                        <!-- Service Body Start -->
                        <div class="service-body">
                            <!-- Service Body Title Start -->
                            <div class="service-body-title">
                                <h3>DTCP Approved Services</h3>
                            </div>
                            <!-- Service Body Title End -->

                            <!-- Service Content Start -->
                            <div class="service-content">
                                <p>
                                    We undertake DTCP-approved layouts and construction projects that meet all government regulations and planning standards. 
                                    From land development to building approvals, we ensure your project is 100% legal, safe, and ready for the future.
                                </p>
                                <div class="service-content-footer">
                                    <a href="#" class="readmore-btn">view more</a>
                                </div>
                            </div>   
                            <!-- Service Content End -->                         
                        </div>
                        <!-- Service Body End -->
                    </div>
                    <!-- Service Item End -->
                </div>
            </div>
        </div>    
     </div>
    <!-- Page Service End -->

 {% endblock content %}